
.card-body > p > .date {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .card-body > p > .author {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 10px;
  }