.Comment{
    padding:10px;
    border-top: solid;
    border-color: white;
}

.card-body{
    background-color: w;
    border-bottom: solid;
    border-color: white;
}

.card-body > p{
    display: flex;
    flex-direction: column;
}

.card-body > p > .date {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .card-body > p > .author {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
  }

  .card-body > p > .date {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .card-body > p > .time {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;

  }



  .main-pane-item li {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    max-width: 90vw;
  }


.main-pane-item blockquote {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    max-width: 90vw;
  }
  
  .main-pane-item {
    padding-top: 9px;
    padding-bottom: 9px;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .main-pane-item-centered{
    justify-content: center;
  }
  
  .main-pane-item p {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    max-width: 90vw;
  }


  .image-container img {
    max-width: 100%;
    width: fit-content;
    align-self: center;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
  }
  
  .image-container > figcaption {
    padding: 18px 0px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    max-width: 90vw;
  }


.heading-special{
    font-size: 1.5rem;
    align-self: flex-start;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
@media screen and (max-width: 1350px) {
   
  

    .image-container {
      max-width: 100vw;
    }
  
    .image-container > img {
      max-width: 80vw;
    }
    .image-container > figcaption {
      max-width: 80vw;
    }
  
    .main-pane-item li,
    .main-pane-item blockquote {
      padding-right: 7vw;
    } 

  
  }


@media screen and (max-width: 550px) {

    .main-pane-item > p{
        padding-right: 0px;
    }

    .card-body{
        padding-left: 2.5vw;
    }

    .main-pane-item{
        padding-left: 2.5vw;
      /* justify-content: center; */
    }

    .heading-special{
        padding-left: 3vw;
    }
  }
  