

.fa-pause-circle, .fa-play-circle {
    align-self: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: white;
    border-radius: 50%;
   
  }

  .backward-button, .forward-button{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    
    
  }
  
.title-container{
    overflow-x: hidden;
    width: 80vw;
}

.controls{
    display: flex;
    justify-content: center;
}

.audio-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.progress-bar{
    display: flex;
    justify-content: center;
   
       
}