

.fa-pause-circle, .fa-play-circle {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: white;
    border-radius: 50%;
    padding: 1px;


}

  .backward-button, .forward-button{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    padding-left: 7px;
    padding-right: 7px;
  }

  .backward-button:hover, .forward-button:hover{
      font-size: 1.7rem;
      cursor: pointer;
  }

  .fa-pause-circle:hover, .fa-play-circle:hover{
    font-size: 3.2rem;
    cursor: pointer;
}

.title-container{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-left: 10.5vw;
}

.title-container:hover{
    cursor: pointer;
}

.controls{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.audio-player{
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 18px;
    background-color: var(--primary-color);
    border-style: solid none solid none;
    border-color: var(--secondary-color);
    justify-content: center;
}

.player{
    display: flex;
    flex-direction: column;

}

.progress-bar{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
       
}

.progress-bar-slider{
    width: 40vw;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-bar-slider:hover{
    cursor: pointer;
}

.image{
    width: 160px;
    height: 160px;
}

.image-container{
    display: flex;
    padding-right: 5vw;
}

.audio-player-active, .audio-player-inactive{
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding-left: 10px;
    padding-right: 10px;
}

.audio-player-active:hover, .audio-player-inactive:hover{
     color: white;
     cursor: pointer;
 }


.minimized{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-controls-inactive{
    display: none;
}

.image-container-inactive{
    display: none;
}

#bars {
    height: 40px;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;

}

.bar {
   background: var(--secondary-color);
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

.bar-paused{
    background: var(--secondary-color);
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      

}
.bar-paused:nth-child(1)  { left: 1px; height: 0px; opacity: 0}
.bar-paused:nth-child(2)  { left: 5px; height: 0px; opacity: 0}
.bar-paused:nth-child(3)  { left: 9px; height: 0px; opacity: 0}    

.bar-paused:nth-child(4)  { left: 13px; height: 12px; opacity: 0.5;}
.bar-paused:nth-child(5)  { left: 17px; height: 20px; opacity: 0.6;}
.bar-paused:nth-child(6)  { left: 21px; height: 10px; opacity: 0.7;}
.bar-paused:nth-child(7)  { left: 25px;  height: 18px; opacity: 1;}
.bar-paused:nth-child(8)  { left: 29px;  height: 23px; opacity: 0.8;}
.bar-paused:nth-child(9)  { left: 33px;  height: 12px; opacity: 0.35;}
.bar-paused:nth-child(10)  { left: 37px; height: 28px; opacity: 0.54;}
.bar-paused:nth-child(11)  { left: 41px;  height: 13px; opacity: 0.35;}
.bar-paused:nth-child(12)  { left: 44px; height: 23px; opacity: 0.4;}
.bar-paused:nth-child(13) { left: 47px;  height: 15px; opacity: 0.9;}
@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; height: 0px; opacity: 0}
.bar:nth-child(2)  { left: 5px; height: 0px; opacity: 0}
.bar:nth-child(3)  { left: 9px; height: 0px; opacity: 0}   
.bar:nth-child(4)  { left: 13px; animation-duration: 474ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 433ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 407ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 458ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 400ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 427ms; }
.bar:nth-child(10)  { left: 37px; animation-duration: 441ms; }
.bar:nth-child(11)  { left: 41px; animation-duration: 419ms; }
.bar:nth-child(12)  { left: 44px; animation-duration: 487ms; }
.bar:nth-child(13) { left: 47px; animation-duration: 442ms; }

@media screen and (max-width: 550px){

    .image{
        width: 80vmin;
        height: 80vmin;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .audio-player{
        /* height: 100vh; */
        flex-direction: column;
    }
    .title-container{
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }

/* 

    .title-container{
        display: none;
    } */

  
}