:root{
  --primary-color: #072339;
  --secondary-color: #095F95;
  --tertiary-color: #b1b1b1;
}

.overarching{
  position: relative;
  width: 100%;
  height: 100%;
}


.App {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  position: relative;
  z-index: 0;
}

