# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/spring-boot-rest-api/src/main/resources/application.properties
NextJs/next.config.js
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env


# dependencies
NextJs/node_modules
NextJs/.pnp
NextJs/.pnp.js

# testing
NextJs/coverage

# next.js
NextJs/.next/
NextJs/out/

# production
NextJs/build

# misc
NextJs/.DS_Store
NextJs/*.pem

# debug
NextJs/npm-debug.log*
NextJs/yarn-debug.log*
NextJs/yarn-error.log*

# local env files
NextJs/.env.local
NextJs/.env.development.local
NextJs/.env.test.local
NextJs/.env.production.local

# vercel
NextJs/.vercel