.youtube-video-container{

    position: fixed;
    z-index: 10;
    background: transparent;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0,0,0,0.9);
    align-self: flex-start;
  }
  
  .fa-times:hover + .close-btn-label{
    display: inherit;
  }
  
  .close-btn-label{
    font-size: 0.75rem;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    display: none;
  }
  
  .close-button{
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-direction: row-reverse;
    padding: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fa-times{
    color: white;
    font-size: 1.5rem;
    padding: 5px;
    padding-left: 10px;
  }
  
  .closeable{
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }