:root{
  --primary-color: #072339;
  --secondary-color: #D4AF37;
  /* --secondary-color: #095F95; */
  --tertiary-color: #b1b1b1;
  /* --font-color: #D4AF37; */
  --font-color: #ffffff;
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
