.overarching{
    min-height: 100vh;
    max-width: 100wh;
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat'
    
}

.format-toolbar{
    display: flex;
    border-bottom: solid 1.7px;
    border-bottom-color: rgb(240,240,240);
    padding: 10px 0;
    /* margin: 0 0 px 0; */
    width: 65vw;
    background-color: white;
}

.fas{
    color: var(--secondary-color);
}

.tooltip-icon-button{
    font-size: 1.5rem ;
    border: 0px;
    background-color: white;
}

.fa-h2{
    font-size: 1.2rem;
}

.active{
    background-color: gray;
}

.Editor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 65vw;
}

.main-pane-item{
    padding-top: 18px;
    display: flex;
    justify-content: center;
  }

 
  .main-pane-item li{
    padding-top: 18px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
  }

  .heading{
    align-self: flex-start;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
  }
  .main-pane p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
  }

  .image-container img{
    max-width: 100%;
    width: fit-content;
    align-self: center;
  }

  .image-container{
    display: flex;
    flex-direction: column;
  }
  

  .image-container > figcaption{
    padding-top: 18px;
    padding: 18px 0px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
  }

/* .Editor span{
    text-align: flex-start;
}

.Editor img{
    margin: 0 auto;
}
 */
 
 @media screen and (max-width: 1350px){
    /* .App-header{
      background-image: url("headerbackgroundcroppedsmallscreen.jpg");
      height: 12vh;
      transition: all 200ms linear;
    }
  
    #header-title{
      font-size: 8vmax;
    } */
    .format-toolbar{
        width: 90vw;
    }

    .Editor{
        width: 90vw;
    }
  

  .image-container {
      max-width: 80vw;
    } 

    .image-container > img {
      max-width: 80vw;
    } 
    .image-container > figcaption{
     
      max-width: 80vw;
    }

    .main-pane label, .main-pane h2, .main-pane p, .main-pane-item li{
      padding-right: 7vw;
    }

    

  }


@media screen and (max-width: 500px){
    .format-toolbar{
        width: 100vw;
    }

    .Editor{
        width: 100vw;
        align-items: center;
    }

    .heading{
      padding-left: 7vw;
    }
}