.overarching{
    min-height: 100vh;
    max-width: 100wh;
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat'
    
}

.format-toolbar{
    display: flex;
    border-bottom: solid 1.7px;
    border-bottom-color: rgb(240,240,240);
    padding: 10px 0;
    /* margin: 0 0 px 0; */
    width: 65vw;
}

.tooltip-icon-button{
    font-size: 1.5rem ;
    border: 0px;
    background-color: white;
}

.fa-h2{
    font-size: 1.2rem;
}

.active{
    background-color: gray;
}

.Editor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 65vw;
}

/* .Editor span{
    text-align: flex-start;
}

.Editor img{
    margin: 0 auto;
}
 */

@media screen and (max-width: 500px){
    .format-toolbar{
        width: 90vw;
    }

    .Editor{
        width: 90vw;
    }
}