
  .ArticlePage {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }   
  
  
  .content-pane{
    background-color: white;
    width: 70%;
    height: 100%;
    align-self: center;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: row;
  }
  
  .main-pane{
    padding-left: 36px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
  }
  
  .main-pane-item{
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
  }

  .subheading{
    align-self: flex-start;
    font-size: 2rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
  }
  .main-pane p{
    padding: 18px 0px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
  }
  
  .m{
    border-top-style: solid;
    border-top-color: var(--primary-color);
  }
  
  .side-pane{
    padding-right: 36px;
    padding-left: 18px;
  }

  .image-container img{
    max-width: 100%;
    width: fit-content;
    align-self: center;
  }

  .image-container{
    display: flex;
    flex-direction: column;
  }
  

  .image-container > figcaption{
    padding-top: 18px;
    padding: 18px 0px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
  }

  /* 
  .App-header {
    background-image: url("headerbackgroundcropped.jpg");
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  #header-title{
    color: white;  
    font-family: 'Montserrat', sans-serif;
    font-size: 9vmax;
    padding-left: 2vw;
    text-shadow: 6px 6px var(--primary-color);
    letter-spacing: 3px;
    cursor: pointer;
  } */
  
  
  @media screen and (max-width: 1350px){
    /* .App-header{
      background-image: url("headerbackgroundcroppedsmallscreen.jpg");
      height: 12vh;
      transition: all 200ms linear;
    }
  
    #header-title{
      font-size: 8vmax;
    } */
  
    .content-pane{
      width: 100%;
    }

  .image-container {
      max-width: 80vw;
    } 

    .image-container > img {
    
      max-width: 80vw;
    } 
    .image-container > figcaption{
     
      max-width: 80vw;
    }
  }