.SidePanel{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: fit-content;
   
}

.card-list{
    padding-left: 0px;
    list-style: none;
    padding: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-style: none none solid solid;
    border-color: var(--primary-color);
}

.side-panel-title{
    display: flex;
    justify-content: center;
    font-family: 'Monteserrat', sans-serif;
    margin-bottom: 0px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 364px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

